Features:
````````````
Create files []
Open files []
Rename files []
Export files []
Delete files []
Join files []
Share files []


Demo reqs:
``````````

REPLICATION:
Slave server replication [x]
Master server replication [x]
DB replication [x]

CONSISTENCY:
consistency across clients []
consistency across DB [x]

FAULT TOLERANCE:
Client goes down []
Slave goes down [x]
Master goes down [x]
DB table goes down [x]
