Features:
````````````
Create files [x]
Open files [x]
Rename files [x]
Export files [x]
Delete files []
Join files [x]
Share files [x]

Edit files [x]
Save files [x]
Concurrently edit files [x]
Show cursors []

Demo reqs:
``````````

REPLICATION:
Slave server replication [x]
Master server replication [x]
DB replication [x]

CONSISTENCY:
consistency across clients []
consistency across DB [x]

FAULT TOLERANCE:
Client goes down [x]
Slave goes down [x]
Master goes down [x]
DB table goes down [x]



oopsies
- share is using DocID right now
- rename events are broadcast to all clients on the master
